[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Comment=Platform Independent Putty
Exec=terminal
Icon=/opt/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
